body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.typo-center {
  text-align: center;
}

p {
  font-size: 20px;
  font-weight: 100;
}

article p {
  font-size: 18px;
  margin-top: 4px;
}

.text_label {
  font-size: 13px;
}

hr {
  width: 50px;
  position: absolute;
  height: 4px;
  background-color: #99E2D0;
  border: none;
}

.bold {
  font-weight: 400;
  font-size: 16px;
}

h1 {
  font-size: 30px;
  margin-top: 35px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-weight: 300;
}

h5 {
  font-family: "Shrikhand", cursive;
  font-size: 27px;
}

h6 {
  font-size: 15px;
  font-weight: bold;
  color: rgb(61, 61, 61);
}

a {
  text-decoration: none;
  color: black;
}

li a {
  color: white;
}

.header_container-logo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 4px;
}

.header_logo-style {
  width: 200px;
  margin-bottom: 15px;
}

.header_container-localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
  height: 50px;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.header_localisation-position {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.header_localisation-size {
  width: 20px;
  height: 20px;
}

.header_button-position {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  margin-left: 3%;
}

.footer-bg {
  background-color: #323232;
}

.footer_container-logo {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 4px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.footer_logo-style {
  width: 130px;
}

.footer_list-style {
  list-style: none;
  color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_list-icon {
  height: 15px;
  width: 15px;
  margin-right: 8px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.presentation_button {
  color: white;
  font-size: 20px;
  width: 270px;
  height: 60px;
  background: linear-gradient(176deg, #FF79DA 0%, #9356DC 100%);
  border: none;
  border-radius: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 10px 21px -4px rgba(0, 0, 0, 0.34);
}

.header_back-button {
  background: none;
  border: none;
  font-size: 25px;
}

.presentation_button:hover {
  transition: all 0.5s;
  filter: brightness(110%);
  box-shadow: 0px 10px 28px -4px rgba(0, 0, 0, 0.54);
}

/** PRESENTATION PRODUIT **/
.wrapper {
  padding: 20px;
}

.wrapper-bg {
  background-color: #f5f5f5;
}

.wrapper-bg-restaurant {
  background-color: #f5f5f5;
  border-radius: 35px 35px;
  margin-top: 54%;
}

.header_content img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 50% 65%;
}

.header_content {
  position: absolute;
  z-index: -1;
}

.presentation_button-container {
  display: flex;
  justify-content: center;
}

.presentation_container-display {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

/** FONCTIONNEMENT **/
.use_list-display {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-bottom: 44px;
}

.use_list_component-display {
  display: flex;
  align-items: center;
}

.use_list_component-bullet {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #9356dc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -15px;
  z-index: 1;
}

.use_list_component-label {
  background-color: #fcf9f9;
  border-radius: 20px;
  height: 60px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  gap: 10px;
  box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.039), 0px 11px 12px rgba(0, 0, 0, 0.08);
}

.use_list_component-clr {
  width: 15px;
  height: 15px;
  margin-left: 20px;
  filter: invert(53%) sepia(7%) saturate(9%) hue-rotate(355deg) brightness(95%) contrast(85%);
}

.use_list_component-clr:hover {
  filter: invert(42%) sepia(53%) saturate(3986%) hue-rotate(243deg) brightness(92%) contrast(87%);
}

.use_list_component-label:hover {
  background-color: rgba(164, 97, 246, 0.1333333333);
}

/** RESTAURANTS **/
.card_list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}

.container_card {
  background-color: white;
  border-radius: 15px;
  color: black;
}

.card_content {
  position: relative;
}

.card_content_text {
  padding: 15px;
  margin-top: 10px;
}

.restaurant_content_text {
  padding: 15px;
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.card_label-position {
  display: flex;
  justify-content: flex-end;
}

.card_label-style {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  padding: 7px;
  border-radius: 4px;
  color: #278870;
  font-size: 14px;
}

.card_content img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 180px;
  object-position: 50% 65%;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: -10px;
}

.card_content-icon {
  font-size: 20px;
}

.card_icon-bg {
  float: right;
}

.card_icon-bg i {
  color: black;
}

.card_icon-bg:hover i {
  background: linear-gradient(176deg, #FF79DA 0%, #9356DC 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.8s;
}

.fa-regular:hover {
  font-weight: 900;
}

.fa-regular {
  font-weight: 400;
}

.restaurant_plates-display {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.list_plates-label {
  background-color: #fafafa;
  border-radius: 20px;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  padding: 15px;
  box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.04), 0px 11px 12px rgba(0, 0, 0, 0.08);
}

.plates_label-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15px;
}

/** RESTAURANTS **/
.card_list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}

.container_card {
  background-color: white;
  border-radius: 15px;
  color: black;
}

.card_content {
  position: relative;
}

.card_content_text {
  padding: 15px;
  margin-top: 10px;
}

.restaurant_content_text {
  padding: 15px;
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.card_label-position {
  display: flex;
  justify-content: flex-end;
}

.card_label-style {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  padding: 7px;
  border-radius: 4px;
  color: #278870;
  font-size: 14px;
}

.card_content img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 180px;
  object-position: 50% 65%;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: -10px;
}

.card_content-icon {
  font-size: 20px;
}

.card_icon-bg {
  float: right;
}

.card_icon-bg i {
  color: black;
}

.card_icon-bg:hover i {
  background: linear-gradient(176deg, #FF79DA 0%, #9356DC 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.8s;
}

.fa-regular:hover {
  font-weight: 900;
}

.fa-regular {
  font-weight: 400;
}

.restaurant_plates-display {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.list_plates-label {
  background-color: #fafafa;
  border-radius: 20px;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  padding: 15px;
  box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.04), 0px 11px 12px rgba(0, 0, 0, 0.08);
}

.plates_label-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15px;
}

/****************** ANIMATIONS ***************/
.slide-bottom {
  animation: slide-bottom 0.5s ease-out both;
}

.fade-in {
  animation: fade-in 1s ease-in-out 0s 1 normal none;
}

/**************** KEYFRAMES ****************/
/* --------------SLIDE BOTTOM--------------*/
@keyframes slide-bottom {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* ------------END SLIDE BOTTOM--------------*/
/* -----------------FADE IN------------------*/
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ---------------END FADE IN----------------*/

/*# sourceMappingURL=style.css.map */
