@media all and (min-width: 993px) {
    /************************************ HOMEPAGE ******************************************/

    .use_list-display {
        justify-content: center;
        flex-direction: row;
        gap: 35px;
    }

    .use_list-display .use_list_component-display {
        width: 266px;
    }

    .use_list_component-bullet {
        height: 25px;
    }

    .wrapper-bg .card_list {
        flex-direction: row;
        overflow-x: scroll;
    }

    .card_content {
        width: 450px;
    }

    .footer_list-style {
        flex-direction: row;
        gap: 45px;
    }

    /*********************************** RESTAURANTS ****************************************/

    h4 {
        font-size: 21px;
    }


    .header_content img {
        height: 100vh;
        width: 211%;
    }

    .wrapper-bg-restaurant {
        margin-top: 20%;
        flex-wrap: wrap;
    }

    .list_plates-label:hover {
        width: 95%;
    }

    .footer-bg {
        position: relative;
        bottom: 0;
    }
}