@media all and (min-width: 993px) {
    /************************************ HOMEPAGE ******************************************/

    .use_list-display {
        justify-content: center;
        flex-direction: row;
        gap: 35px;
    }

    .use_list-display .use_list_component-display {
        width: 266px;
    }

    .use_list_component-bullet {
        height: 25px;
    }

    .wrapper-bg .card_list {
        flex-direction: row;
        padding: 20px;
    }

    .card_list {
        overflow-X: scroll;
    }

    .card_content {
        width: 400px;
    }

    .footer_list-style {
        flex-direction: row;
        gap: 45px;
    }

    /*********************************** RESTAURANTS ****************************************/

    h4 {
        font-size: 21px;
    }

    .wrapper-bg-restaurant {
        position: relative;
        margin-top: -50px;
        padding-bottom: 65px;
    }

    .restaurant_plates-display {
        width: 100%;
    }

    .list_plates-label:hover {
        width: 85%;
    }

    .footer-bg {
        position: relative;
        bottom: 0;
    }
}

@media all and (min-width: 1575px) {

    .card_list {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}