p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.typo-center {
    text-align: center;
}

p {
    font-size: 20px;
    font-weight: 100;
}

article p {
    font-size: 18px;
    margin-top: 4px;
}

.text_label {
    font-size: 14px;
}

hr {
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: $third;
    border: none;
}

.bold {
    font-weight: 400;
    font-size: 16px;
}

h1 {
    font-size: 30px;
    margin-top: 35px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 17px;
    font-weight: bold;
    min-height: 18px;
}

h4 {
    font-weight: 300;
}

h5 {
    font-family: 'Shrikhand', cursive;
    font-size: 27px;
}

h6 {
    font-size: 17px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}

a {
    text-decoration: none;
    color: black;
}

li a {
    color: white;
}