p, h1, h2, h3, h4, h5 {
    margin: 0;
}

.typo-center {
    text-align: center;
}

p {
    font-size: 20px;
    font-weight: 100;
}

.bold {
    font-weight: 400;
    font-size: 16px;
}

h1 {
    font-size: 30px;
    margin-top: 35px;
}

h3 {
    font-size: 21px;
}

